

/* Sticky header uchun yangi uslublar */
header {
    background-color: #008000;
    color: white;
    padding: 10px 0;
    text-align: center;  /* Headerdagi matnlarni o'rtaga olish */  /* Headerni yopishqoq qiladi */
    top: 0;            /* Ekranning yuqori qismiga yopishadi */
    width: 100%;       /* Header kengligi butun ekran bo'ylab */
    z-index: 1000;     /* Header boshqa elementlarning ustida bo'lishi uchun */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Quyida soya qo'shish */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Section matnlarini o'rtaga olish */
section {
    padding: 80px 20px 20px;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;  /* Matnni o'rtaga olish */
    max-width: 800px;    /* Maksimal kenglikni o'rnatish */
}

h2 {
    color: #008000;
}

section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #ffc107;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}